﻿#cartButton {
    margin-right: 8px;
}

nav {
    padding: 8px;
}

.loginForm {
    margin: 10%;
}

.checkoutForm {
    margin-top: 5%;
}

.orderForm {
    margin-top: 5%;
    border-radius: 20px;
    border-style: solid;
    border-color: #2fa4e7;
}

a.remove {
    text-decoration: none;
}

a.remove:hover {
    color: blue;
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.marginTop {
    margin-top: 5%;
}

.marginTop1 {
    margin-top: 2%;
}

.formPullRightButton {
    margin-right: 10px !important
}

.carousel img {
    min-width: 100%;
}
