﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Obieramy.pl</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>    
            <p><a target="_blank" href="mailto:michal.olszewski.90@gmail.com">&copy; 2018 - Tony Pain</a>
        </footer>
    </div>
</body>
</html>
