﻿<div>
    <h2>All Peelers are here</h2>
</div>

<h2>@Model.CurrentCategory</h2>

@{ 
    foreach (var peeler in Model.Peelers)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="img-thumbnail">
                <img src="@peeler.ImageThumbnailUrl" alt="" />
                <div class="caption">
                    <h3 class="pull-right">@peeler.Price.ToString("c")</h3>
                    <h3>
                        <a>@peeler.Name</a>
                    </h3>
                    <p>@peeler.ShortDescription</p>
                </div>
            </div>
        </div>
    }
}